
.table-details{
  width: 1600px;
  height: 1118px;
  border-radius: 2px;
  padding: 22px 20px;
}

/* 筛选条件 */
.condition>div{
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.condition .sort-name{
  font-size: 16px;
  color: #666666;
  margin-top: 5px;
}

.condition .sort>span{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.condition .sort>span.time{
  width: 100px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #18d96e;
  border: solid 1px #18d96e;
}
.condition .sort>span.duration{
  background-color: #18d96e;
  color: #ffffff;
}

.condition div.sort-name i{
  width: 10px;
  height: 16px;
  background-color: #18d96e;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}
.condition>div.name>div,
.condition>div.redact-user>div,
.condition>div.programa>div{
  display: inline-block;
  vertical-align: top;
}


/*table内容*/
.table-content{
  width: 100%;
  margin: 21px 0 23px 0;
}
.table-content div.scroll-table{
  height:894px;
}

.table-content table {
  width: 100%;
  color: #555555;
}

table tr>td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.table-content table thead tr{
  height: 66px;
  background-color: #e9e9e9;
  border-left:5px solid #e9e9e9;
  font-size: 18px;
}

.table-content table thead th,
.table-content table tbody td{
  text-align: center;
  font-weight: normal;
}
.table-content table tbody tr{
  width: 1560px;
  height: 56px;
  border-left:5px solid transparent;
  border-bottom:solid 1px #cccccc;
}
.table-content table tbody tr:hover{
  background-color: #f5f5f5;
  border-left:5px solid #18d96e;
}

.table-content table tbody td.pass{
  color: #18d96e;
}

.table-content table tbody td.no-pass{
  color: #ff6c60;
}

/*页码 */
.page div.cut-page-number>div{
  display: inline-block;
  vertical-align: top;
}

.page div.cut-page-number>div:first-child,
.page div.cut-page-number>div:last-child{
  margin-top: 4px;
}
.page div.cut-page-number>div.select-down{
  height: 28px;
  width: 54px;
  margin-right: 16px;
}
.page div.cut-page-number>div.select-down>div{
  width: 54px;
}
.page div.cut-page-number>div.select-down input{
  width: 28px;
}

.page div.cut-page-number>div.select-down span{
  background-color: transparent;
  width: 10px;
}

.page div.cut-page-number>div.select-down i{
  font-size: 20px;
}
.page div.select-down ul.down-content{
  width: 55px;
  height: auto;
}

.page div.select-down ul.down-content li{
  height: 28px;
  line-height: 28px;
}

.page .page-number>div{
  display: inline-block;
  vertical-align: top;
}
.page .page-number>div.go-page{
  width: 88px;
  height: 28px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  margin-left: 19px;
}
.page .page-number>div.go-page>span{
  float: left;
  height: 100%;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  width: 50%;
  outline: none;
}

.page .page-number>div.go-page>span:last-child{
  color: #ffffff;
  background-color:  #18d96e;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
